// For components styles
$color-primary: #409EFF;
$color-secondary: #2c3e50;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;
// Main theme in:
//   1. element-variables.scss
//   2. Vuetify theme config
