// Global
// Don't forget synchronize with Vuetify theme config
$color-primary: #0d0d0d;
$color-primary-light: #161516;
$color-secondary: #8B0000;
$color-info: #d0d0d0;
$color-danger: #8B0000;
$color-success: #67c23a;
$color-warning: #e6a23c;

// admin panel
$color-primary_a: #409EFF;
$color-secondary_a: #2c3e50;
$color-success_a: #67c23a;
$color-warning_a: #e6a23c;
$color-danger_a: #f56c6c;
$color-info_a: #909399;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Yeseva One', cursive;
$third-font: 'Snell Roundhand', serif;

$primary-text-shadow: 1px 1px 2px black, 0 0 1em red;


// OVERRIDE ELEMENTS STYLES
.el-slider__bar {
  background: $color-secondary;
}

.el-slider__button {
  background: $color-secondary;
}

.el-collapse-item__header, .el-collapse-item__content {
  background: $color-primary;
  color: white;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: white;
}

.el-carousel__mask {
  border-radius: 20px;
  height: 94%;
}
@import "mixins";
