/* TRANSITIONS */
/* fade */
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .4s
}
.fade-enter,
.fade-enter-active,
.fade-leave-active {
  opacity: 0
}

/* bounce */
.bounce-enter-active {
  animation: bounce-in 0.75s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* app-fade-left */
.app-fade-left-enter-active {
  transition: all .5s ease;
  animation: left-title-text-animation 1s ease;
}

.app-fade-left-enter {
  opacity: 0;
}
.app-fade-left-leave {
  opacity: 0;
}

.app-fade-left-leave-active {
  opacity: 0;
  transition: all .5s cubic-bezier(1.0, 0.5, 0.5, 1.0);
}

@keyframes left-title-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* app-fade-right */
.app-fade-right-enter-active {
  transition: all .5s ease;
  animation: right-title-text-animation 1s ease;
}

.app-fade-right-enter {
  opacity: 0;
}

.app-fade-right-leave {
  opacity: 0;
}

.app-fade-right-leave-active {
  opacity: 0;
  transition: all .5s cubic-bezier(1.0, 0.5, 0.5, 1.0);
}

@keyframes right-title-text-animation {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
